.App {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 500px;
}

.Card {
  background-color: greenyellow;
  border: 1px black solid;
  font-weight: 600;
  text-align: center;
  width: 500px;
}

.Error {
  color: red;
  font-weight: 600;
}

form input {
    margin-bottom: 15px;
    margin-top: 5px;
}

#confirmar {
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}
